.title{
    font-weight: bold;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.spacer{
    width: 55%;
}

.option{
    margin-left: 1rem;
    color: white;
    margin-right: 1rem;
    font-size: 20px;
    outline: none;
    background: transparent;
    border-color: transparent;
}

.option:hover{
    cursor: pointer;
}