.title{
    font-weight: bold;
    color: white;
    margin-top: 0px;
    width: 10%;
    font-weight: bold;
    font-size: 1.5rem !important;
    margin-bottom: 0px;
}

.link{
    color: white;
}

.spacer{
    width: 40%;
}

.option{
    margin-left: 1rem;
    color: white;
    margin-right: 1rem;
    font-size: 20px;
    outline: none;
    background: transparent;
    border-color: transparent;
}

.option:hover{
    cursor: pointer;
}

.createPostButton{
    background-color: rgb(63, 63, 174);
}