@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.title{
    color: white;
    margin-top: 0px;
    width: 20%;
    font-size: 1.8rem !important;
    margin-bottom: 0px;
    font-family: 'Jockey One', sans-serif;
}

.icon{
    width: 30px;
    margin-right: 5px;
    height: 30px;
}

.link{
    color: white;
}

.spacer{
    width: 40%;
}

.option{
    margin-left: 1rem;
    color: white;
    margin-right: 1rem;
    font-size: 20px;
    outline: none;
    background: transparent;
    border-color: transparent;
    font-family: 'Jockey One', sans-serif;
}

.option:hover{
    cursor: pointer;
}

.createPostButton{
    background-color: rgb(63, 63, 174) !important;
    color: white !important;
    font-weight: bold !important;
}